<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>새 책 등록</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h1>새 책 등록</h1>
<form th:action="@{/books}" th:object="${book}" method="post">
    <div>
        <label for="title">책 이름</label>
        <input type="text" id="title" th:field="*{title}" />
    </div>
    <div>
        <label for="author">저자</label>
        <input type="text" id="author" th:field="*{author}" />
    </div>
    <div>
        <label for="publicationYear">책 출판 연도</label>
        <input type="text" id="publicationYear" th:field="*{publicationYear}" />
    </div>
    <button type="submit">저장</button>
</form>
<a th:href="@{/books}">뒤로 가기</a>
</body>
</html>