<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<h1> Book List</h1>
<table>
    <thead>
    <tr>
        <th>title</th>
        <th>author</th>
        <th>publicationYear</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.publicationYear}"></td>
        <td class="ud_btn">
            <a th:href="@{/books/editBook/{id}(id=${book.id})}">수정</a>
            <form th:action="@{/books/deleteBook/{id}(id=${book.id})}" method="post">
                <button type="submit" onclick='alert("정말 삭제하시겠습니까?")'>삭제</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/books/new}">새로운 책 추가하러 가기</a>

</body>
</html>