<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Products List</h1>
<table>
    <thead>
    <tr>
        <th>name</th>
        <th>price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}+'원'"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/index}">처음으로 가기</a>
</body>
</html>